<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/bootstrap.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/style.css') }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='/css/avistyle.css') }}'>
    <title>Dojo Airlines</title>
</head>
<body>
    <div class="aviation-header">
        <h1 class="h1-aviation">Welcome Back {{session['firstname']}}!</h1>
        <div class="aviation-header-btns">
            <form action=""><button type="submit" class="btn-warning btn-aviation">Airport</button></form>
            <form action=""><button type="submit" class="btn-primary btn-aviation">Weather</button></form>
            <form action="/logout"><button type="submit" class="btn-primary btn-aviation">Logout</button></form>
        </div>
    </div>
    <br>
    <h2 class="h2-aviation">Available Groups</h2>
    <br>
    <div class="aviation-list">
        {% for group in groups %}
            <p><a href="/group/{{group.id}}">{{group.name}}</a> founded {{group.founding_date}} by {{group.creator.first_name}} {{group.creator.last_name}}  {{group.member_count}} members</p>
        {% endfor %}
    </div>
    <br>
    <h2 class="h2-aviation">Available Genres</h2>
    <br>
    <div class="aviation-list">
        {% for genre in genres %}
            <p>{{genre.name}} -- {{genre.short_description}}</p>
        {% endfor %}
    </div>
    <br>
    <h2 class="h2-aviation">Your Submissions</h2>
    <br>
    <div class="aviation-list">
        {% for submission in submissions %}
            <p><a href="/submit/review/{{submission.id}}">{{submission.title}}</a>     {{submission.review_count}} Reviews</p>
        {% endfor %}
    </div>
</body>
</html>